.gallery {
  padding: 120px 20px;
}
.images {
  display: flex;
  column-gap: 40px;
  padding: 32px 36px 0;
}
.images > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 738px) {
  .images {
    flex-direction: column;
    row-gap: 41px;
  }
  .images > div {
    row-gap: 41px;
  }
}
