body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
  font-family: "Inter", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
